<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCdouHE5RRojQwB_GOtsWTbqlLDZTuX-Fg</string>
	<key>GCM_SENDER_ID</key>
	<string>78416144642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sweetrise.WV54Application</string>
	<key>PROJECT_ID</key>
	<string>flavor-delight</string>
	<key>STORAGE_BUCKET</key>
	<string>flavor-delight.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78416144642:ios:a25c5ae2f7a6a74973ba1b</string>
</dict>
</plist>